/* contact.css -- Styling the about page of website
 * author: Rachel McCoy
 */
 
.container {
    display: flex;
    align-items: center;
  }

  /* style the image */
  .image {
    width: 50%;
    margin-right: 20px;
  }

  /* style the paragraph */
  .paragraph {
    width: 50%;
  }

  h2{
    text-align: left;
  }

  form{
    color: white;
  }


  @media only screen and (max-width: 600px) {
.container {
flex-direction: column;
}

.image {
width: 100%;
margin-right: 0;
margin-bottom: 20px;
}

.paragraph {
width: 100%;
}

h2 {
text-align: center;
}
}