/* Digital.css -- Styling the Exec page of website
 * author: Rachel McCoy
 */

.button {
    background-color: white;
    color: #AF65CD;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    
  }
  .button:hover {
    background-color: white;
    cursor: pointer;
  }

  .container {
    text-align: center;
  }


